* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #3b1c00;
  background-color: #f6e6ca;
  line-height: 1.6;
  font-size-adjust: 100%;
}

.container {
  width: 90%;
  max-width: 100%;
  margin: auto;
}

/* ===== ALMA VIVA ===== */
.alma-viva {
  padding: 30px 0;
  text-align: center;
}

.alma-viva h2 {
  font-size: 350%;
  color: #6e2e00;
  margin-bottom: 6%;
  text-decoration: underline 2px;
}

.alma-viva h2 span {
  text-decoration: underline 2px;
  color: #E2883A;
}

.alma-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  margin-bottom: 10%;
  align-items: center;
}

.alma-box {
  width: 100%;
  height: 107%;
  background-color: #EBD8B5;
  border-radius: 3%;
  overflow: visible;
}

.alma-img {
  width: 100%;
  margin-top: 4%;
  }

.alma-boxe {
  width: 100%;
  height: 105%;
  background-color: #EBD8B5;
  border-radius: 3%;
  margin-left: 37%;
  overflow: visible;
  left: 20%; 
}

.alma-text p {
  margin-bottom: 5%;  
}

.lower-img {
  width: 100%;
  margin-top: 4%;
}

.alma-lower p {
  margin-top: 20%;
  margin-right: -20%;
}

.btn {
  background-color: #7a2d00;
  color: #fff;
  padding: 2% 4%;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #b91c1c;
}

.alma-lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  margin-right: 15%;
}

/* ===== PRESENÇA ===== */
.presenca h3 {
  margin-bottom: 2%;
  color: #742E05;
  text-decoration: underline 2px;
}

.container h3 span {
  color: #E2883A;
  text-decoration: underline 2px;
}

.presenca-grid img {
  border-radius: 3%;
  margin-right: 35%;
  margin-left: 35%;
  width: 100%;
  z-index: 1;
}

.presenca {
  background-color: #f3dcb8;
  padding: 3% 0;
}

.presenca h3 {
  text-align: center;
  font-size: 200%;
}


.presenca-grid {
  display: flex;
  align-items: center;
  gap: 20%;
}

.mapa-wrapper {
  position: relative;
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa-fundo {
  position: absolute;
  background-color: #d9c5a4;
  border-radius: 3%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 110%;
  height: 110%;
}

.texto p {
  font-size: 105%;
  color: #3c2b1d;
  text-align: center;
  margin-left: -30%;
}

/* ===== FOOTER ===== */
.footer {
  background-color: #1e3724;
  color: #fff;
  padding: 5% 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-logo img {
  height: 35px;
  margin-bottom: 10px;
}

.footer-logo span {
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.socials a {
  color: white;
  font-size: 1.2rem;
  margin-right: 10px;
}

.footer h4 {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #ffb54c;
}

.footer ul {
  list-style: none;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.btn-dark {
  background: #6e2e00;
  color: #1e3724;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 1000px) {
  .alma-grid, .alma-lower, .presenca-grid, .footer-grid {
    grid-template-columns: 1fr;
  }

  .hero-text {
    left: 5%;
    bottom: 35%;
  }

  .hero-text h1 {
    font-size: 170%;
  }

  .header nav a {
    font-size: 90%;
  }

  .logo span {
    font-size: 100%;
  }

  .alma-lower p {
    text-align: center;
  }

  .alma-boxe {
    margin-left: 10%;
    width: 100%;
    height: 86%;
    display: grid;  
    margin-bottom: 20%;
  }

}
